/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.atr
.env
.rta
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
composer.lock
*.zip
/chat/node_modules
/config/constants.php
/chat/.env
/config/one-signal.php
/config/stripe.php
/public/inapp_android.json
/public/app_android.json
